body {
    background-color: #F5F8FA;
}

@mixin profile($rem) {
    border-radius: 50%;
    width: $rem;
}

.profil {
    @include profile(3rem);
}

nav {
    background-color: #3097D1;

    #logo {
        width: 10%;
    }

    ul {
        list-style-type: none;
        display: inline-block;

        li {
            display: inline-block;
            color: white;
        }
        input {
            color: grey;
        }
    }
}

button {
    color: blue;
    border-radius: 3px;
    border: 1px solid blue;
    background-color: white;
    padding: 0.5em 1em;
}

main {
    position: absolute;
    .profil {
        margin-right: 1em;
    }
    h2 {
        display: inline-block;
    }
    section {
        background-color: white;
        margin: 0 1em;
    }
}

aside article {
    background-color: white;
}
